/************************************
*            header                 *
************************************/


/************************************
*            recherche              *
************************************/

.search {
    align-items: unset;
}

.title-main {
    padding-left: 40px;
}

.recherche {
    display: flex;
    align-self: center;
    padding: 0;
    margin-bottom: 16px;
}


/************************************
*            Filtres                *
************************************/

.filtre-list {
    padding-left: 20px;
}

.filtre-list h2 {
    padding-right: 0;
}


/************************************
*               Infos               *
************************************/

.info {
    margin-top: 16px;
    padding-left: 40px;
}


/************************************
*      Hébergements + Populaire     *
************************************/

.titre-icon {
    justify-content: unset;
}

.titre-icon h2 {
    padding-left: 40px;
}

.titre-icon i {
    margin-left: auto;
    padding-right: 40px;
}

.card-list-pop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.show-more,
.villes h2 {
    padding-left: 40px;
}


/************************************
*             ACTIVITES             *
************************************/

.activ-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    gap: 16px;
}

#activ h2 {
    padding-left: 40px;
}

.cards {
    height: unset;
}

.big .image-activ img {
    height: 340px;
}